
// SASS
// BASE


@font-face {
    font-family: 'Chinese Rocks';
    src: url('../fonts/chinese_rocks_rg-webfont.eot');
    src: url('../fonts/chinese_rocks_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chinese_rocks_rg-webfont.woff2') format('woff2'),
         url('../fonts/chinese_rocks_rg-webfont.woff') format('woff'),
         url('../fonts/chinese_rocks_rg-webfont.ttf') format('truetype'),
         url('../fonts/chinese_rocks_rg-webfont.svg#chinese_rocksregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
	cursor: default;
}

a {
	cursor: pointer;
}

a, label {
	&:hover, 
	&:active, 
	&.active {
		color: $body-link-hover !important;
		border-color: $body-link-hover !important;
		
		> * {
			color: $body-link-hover !important;
		}
	} 
}

h1, 
h2, 
h3 {
	font-family: "Chinese Rocks", "Bungee", Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
}


form {
	margin-bottom: $spacing;
}

p, 
ul, 
form {
	&:last-child {
		margin-bottom: 0;
	}
}

ul {
	&.horizontal {
		li {
			display: inline-block;
			margin-right: $spacing;
		}
	}
	
	&.pill {
		li {
			a {
				text-decoration: none;
			}
			
		}
	}
	
	&.checkbox-list {
		margin-left: 0;
		
		ul, li {
			margin-left: 0;
		}
		
		@media (min-width: $size-container-tablet) {
			margin-left: $spacing;
			
			ul, li {
				margin-left: $spacing;
			}
		}
	}
}


// DETAILS / SUMMARY


details, 
summary { 
	display: block; 
}

details, 
.no-details {
	summary {
		&:hover, &:focus { 
			background: #eee;
		}
	} 
}

.no-details details > * { 
	display: none; 
}

.no-details details summary { 
	display: block; 
}

summary { 
	cursor: pointer; 
}

details[open] {
	padding-bottom: $spacing;
	height: auto !important;
}





// Messages

.message, 
.status {	
	&.success {
		color: green;
	}

	&.error {
		color: red;
	}
}

.mk-header {
	border-bottom: 1px solid white;
}

#mk-footer.mk-footer-unfold {
	left: auto;
}


// Login Screen

.login h1 a {
	background-size: contain !important;
}


.updating {
  opacity: 0.5;
}

.updating-flag {
	display: block;
	position: fixed;
	z-index: 0;
	background-color: black;
	color: white;
	right: $spacing;
	top: auto;
	bottom: $spacing;
	padding: $spacing;
	padding-left: $spacing-double;
	padding-right: $spacing-double;
	opacity: 0;
	@include transition(opacity 0.3s);
	
	&.show {
		opacity: 0.9;
	}
	
	&.top {
		z-index: 100;
	}
	
	.updating-label {
		color: white;
		line-height: 1.5;
	}
}



.luckytabs {
	> ul { 
		list-style: none;
		
		li {
			display: inline-block;
			border-bottom: 0;
			margin-bottom: 0;
			padding: 0;
			
			a {
				text-decoration: none !important;
				padding: $spacing-half;
				padding-right: $spacing + $spacing-quarter;
				padding-left: $spacing;
				text-align: left;
				display: inline-block;
				line-height: 1.5;
				
				i {
					margin-right: $spacing-three-quarters;
				}
				
				span.dashicons {
					margin-right: $spacing-half;
					vertical-align: middle;
				}
			}
			
			&.nav-tab-active {
				background-color: white;
				
				a {
					background-color: white;
					border-bottom: none;
				}
			}
		}
	}
	
	.luckytab {
		padding: $spacing;
		display: none;
		background-color: white;
	}
	
	&.toptabs {
		> ul { // .nav-tab-wrapper
		
			
		
			li {
				&.nav-tab {
					//@include border-radius($spacing-quarter $spacing-quarter 0 0 );
					@include box-sizing();
					a {
						@include box-sizing();
					}
				}
			}
		}
	}
	
	&.sidetabs {
		@extend .clearfix;
		
		ul {
	    //height: 300px;
	    //border-right: solid 1px;
	    
	    margin: 0;
	    padding: 0;
	    background: #ccc;
	    float: left;
	    width: $spacing-oct;
	    min-height: 1000px;
	    @include box-sizing();
	    
	    li {
	    	width: 100%;
		    margin: 0;
		    padding: 0;
		    float: none;
		    display: block;
		    @include box-sizing();
		    
		    a {
					display: block;
					padding: $spacing-three-quarters;
					padding-left: $spacing-three-quarters;
					padding-right: $spacing-three-quarters;
					outline: none;
		    }
	    }
	  }
	  
	  .panel-container {
			background: #fff;
			//padding-top: 5px;
			padding-left: $spacing-oct;
	  }
	  
	  .luckytab {
	  	padding-top: 0;
	  }
	}
}






.DynamicContainer {	
	margin-bottom: $spacing;
	
	&:last {
		margin-bottom: 0;
	}
	
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  
  
  
  .app-sections-list {
  	margin-bottom: $spacing;
  	
		a {
			padding: $spacing;
			padding-left: $spacing + $spacing-half;
			padding-right: $spacing + $spacing-half;
			border: 1px solid black;
		}
  }
  
  .app-section {
  	padding: $spacing;
  	background-color: lightgrey;
  	color: black;
  	margin-bottom: $spacing-double;
  	@include clearfix;
  	
  	
  	&:last {
  		margin-bottom: 0;
  	}
  	
  }
  
  .app-checkbox-list {
  	
  }
}

#RandomTip {
	font-family: "Special Elite", Arial, Helvetica, sans-serif;
	padding: $spacing-double;
	text-align: center;
	cursor: pointer;
	
	* {
		color: black;
	}
	
	p {
		font-size: 1.5em;
	}
}


// Portal

.PlayerPortal {
	
	.app-container {

		@include keyframes(closeDetails) {
	    0%   { height: auto; }
	    50%  { opacity: 0; overflow: hidden; height: $spacing-trip;  }
	    100% { opacity: 0; overflow: hidden; height: 0; }
		};
		
		@include keyframes(openDetails) {
	    0%   { opacity: 0; overflow: hidden; height: 0; }
	    50%  { opacity: 0; overflow: hidden; height: $spacing-trip;  }
	    100% { opacity: 1; overflow: visible; height: auto; }
		};

		details {
			opacity: 1;
			height: auto;
			
			animation-duration: 0.6s;
			animation-timing-function: ease-in-out;
			animation-delay: 0s;
			animation-direction: normal;
			animation-fill-mode: both;
			animation-play-state: running;

			animation-name: openDetails;
			
			@include accelerate();
			
			&.disabled {
				background-color: $color-light-grey;
				color: grey;
			}
		}
		
		&.filter-remaining {
			
			details.disabled {
				animation-name: closeDetails;
			}

		}
	}
	
	.app-sections-list {
		ul {
			margin-left: 0;
			
			
			
			li {
				width: 100%;
				margin: 0;
				
				@media ( min-width : $size-container-tablet ) {
					width: auto;
					
					margin-left: $spacing;
					margin-right: $spacing;
					
					&:first-child {
						margin-left: 0;
					}
					
					&:last-child {
						margin-right: 0;
					}
				}				
			}
		}
		
  	a {
  		font-size: 36px;
  		color: #404040;
	    font-weight: 600;
	    text-transform: uppercase;
	    font-family: "Chinese Rocks", "Bungee", Arial, Helvetica, sans-serif;
    	letter-spacing: 1px;
    	display: block;
    	margin-bottom: $spacing-half;
  	}
	}
	
	
	.nav-tab-wrapper {
		
		height : 60px;
		overflow: hidden;
		margin-bottom: $spacing;
		position: relative;
		padding-top: 0;
		
		&::before {
			content: "";
			display: block;
			position: absolute;
			z-index: 10;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background-color: red;
			opacity: 0.3;
			cursor: pointer;
		}
		
		&.open {
			display: flex;
			height: auto;
			
			&::before {
				display: none;
			}
			
			.nav-tab:not( .nav-tab-active ) {
				display: block;
			}
		}
		
		@media ( min-width : $size-container-desktop ) {
			height: auto;
			overflow: visible;
			margin-bottom: 0;
		}
		
		.nav-tab {
			
			width: 100%;
			margin: 0;
			
			&.nav-tab-active {
				-webkit-order: 1;
				order: 1;
			}
			
			&:not( .nav-tab-active ) {
				display: none;
			}
			
			@media ( min-width : $size-container-desktop ) {
				width: auto;
		
				//margin-left: $spacing-half;
				//margin-right: $spacing-half;
				
				&:first-child {
					margin-left: 0;
				}
				
				&:last-child {
					margin-right: 0;
				}
			}
			
			a {
				font-family: "Chinese Rocks", "Bungee", Arial, Helvetica, sans-serif;
				font-size: 26px;
				letter-spacing: 2px;
				width: 100%;
				display: inline-block;
			}
		}
	}
	
	.tabContent {
		summary {
			padding: $spacing-half;
			padding-right: $spacing + $spacing-quarter;
			padding-left: $spacing-half;
			text-align: left;
			line-height: 1.5;
			font-family: "Chinese Rocks", "Bungee", Arial, Helvetica, sans-serif;
			font-size: 26px;
			letter-spacing: 1px;
			
			&::-webkit-details-marker {
				display: none;
			}
		}
	}
}


#PlayerGameController {
	
	
	* {
		font-size: 20px;
	}
	
	label {
		font-weight: normal;
	}
}


.theme-page-wrapper {
	margin: 20px auto;
}

@media handheld, only screen and (max-width: 960px) {
	.theme-page-wrapper {
		&:not(.full-width-layout) {
		    padding-right: 40px !important;
		    padding-left: 40px !important;
		}
	}
}